* {
    margin: 0;
    padding: 0;

    border: none;
    box-sizing: border-box;

    font-family: "Nunito", sans-serif;
    text-decoration: none;

    list-style: none;
}

body {
    width: 100%;
    height: 100%;

    background-image: url('./img/container-background.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */

    color: #fff;
}

header {
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #101010;

    position: fixed;
    top: 0;

    z-index: 99;

    width: 100%;
    height: 72px;


    display: flex;
    align-items: center;
    justify-content: center;
}


img {
    width: 100%;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 span {
    background: rgb(237, 255, 13);
    background: linear-gradient(180deg, rgba(230, 235, 15, 1) 0%, rgba(255, 220, 0, 1) 25%, rgb(255, 196, 0) 75%, rgba(255, 160, 0, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 3rem;
    font-family: "Damion", cursive;

}

.logo {
    width: 36px;
    margin-left: .5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 12px rgbA(255, 0, 0, .5);
}


h3 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;

    margin: 1rem 0;
}

h4 {
    font-size: 1.25rem;
    color: #ffa400;

    margin: .5rem 0;
    text-align: center;

    margin-block: .5rem;
    padding: 0 .5rem;

    width: 100%;

    border-radius: 6px;
    background-color: rgba(0, 0, 0, .5);
}



nav {
    display: flex;
    align-items: center;

    background-color: #000;

    margin-top: 72px;

    height: 36px;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;

    width: inherit;

    font-weight: bold;
}

a {
    transition: all ease 250ms;
    color: #fff;
}

nav a:hover {
    opacity: .8;
}

.master-container {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: calc(100vh - 152px);
    width: 40vw;
    overflow: hidden;

    border-radius: 10px;
    background-color: #101010;

    margin: 1rem 0;
    padding: .5rem;
}

#container {
    background-image: url("/img/background.jpg");
    background-size: contain;
}


.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;

    padding: 0 .5rem;

    width: inherit;
    height: 100%;



    border-radius: 10px;
    /* background-color: #101010; */

}

p {
    text-align: center;
    margin-block: .5rem;
}

.text-box::-webkit-scrollbar {
    border-radius: 10px 0 0 10px;
    background: #202020;

    width: 10px;
}

.text-box::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: #000;
}

.roll {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    pointer-events: none;
    opacity: 0;

    background-color: rgba(0, 0, 0, .5);

    min-height: 128px;
    height: 35%;
    width: 100%;

    padding: 1rem;

    border-radius: 10px;

    transition: all ease .5s;
}

#roll-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin-inline: 6px;
}

#resultbox {
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#result {
    background-color: rgba(0, 0, 0, .5);

    width: 100%;
}

#linha {
    background-color: rgba(0, 0, 0, .5);

    width: 100%;

    line-height: 2.5rem;
    font-weight: bold;

    border-radius: 6px;
}

.roll.active {
    opacity: 1;
    pointer-events: all;
}

.actions {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

button {
    cursor: pointer;

    width: 45%;
    height: 4rem;

    color: #000;

    border-radius: 6px;

    font-weight: bold;
    line-height: 1rem;

    background-color: #ffa900;

    transition: all ease 250ms;
}

button:hover {
    opacity: .75;
}

.copiar {
    opacity: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;

    transition: all ease 750ms;
}

.copiar.active {
    opacity: 1;
    pointer-events: all;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    color: #fff;
}

.moedas {
    display: block;
    border-radius: 50%;
    width: 50%;
}

.moedas.active {
    animation: rotate 500ms linear;
    animation-delay: .1s;
}

@keyframes rotate {
    to {
        transform: rotateY(1600deg);
    }
}


@media screen and (max-width: 1024px) {

    nav {
        margin-top: 96px;
    }

    .master-container {
        flex-direction: column;
        align-items: center;
    }

    .container {
        min-height: calc(100vh - 186px);
        height: max-content;
        width: 90vw;
    }

    #resultbox {
        background-clip: padding-box;
    }

    #result {
        padding: 1rem 0;
    }

    button {
        width: 45%;
    }
}